@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- content -->

        <div class="col-md-6" id="man">
            <a href="/Nhanvien/DanhSachNhanVien">
                <div class="content db">
                    <div class="containtop titledb"><p class="text1">QUẢN LÝ NHÂN VIÊN</p></div>
                    <div class="container-dt">
                        <div class="text-center">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="textbox textdb">
                            <p class="text">Tìm kiếm, thêm, sửa, xóa nhân viên</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/QLSinhvien/DanhSachSinhVien">
                <div class="content l">
                    <div class="containtop titlel"><p class="text1">QUẢN LÝ SINH VIÊN</p></div>
                    <div class="container-dt">
                        <div class="text-center">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <div class="textbox textl">
                            <p class="text">Tìm kiếm, thêm, sửa, xóa sinh viên. Đăng ký sinh viên mới </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6" id="man">
            <a href="/QLPhong/DanhSachPhong">
                <div class="content tnb">
                    <div class="containtop titletnb"><p class="text1">QUẢN LÝ PHÒNG</p></div>
                    <div class="container-dt">
                        <div class="text-center">
                            <i class="fa fa-university" aria-hidden="true"></i>
                        </div>
                        <div class="textbox texttnb">
                            <p class="text">Cập nhật ,thêm, sửa, xóa và tìm kiếm phòng</p>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/DienNuoc/Danhsachdiennuoc">
                <div class="content dhcv">
                    <div class="containtop titledhcv"><p class="text1">Quản lý điện nước </p></div>
                    <div class="container-dt">
                        <div class="text-center">
                            <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                        </div>
                        <div class="textbox textdhcv">
                            <p class="text">Quản lý việc tính tiền điện nước cho từng phòng, sửa giá điện nước, in hóa đơn điện nước cho sinh viên</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
       
        <div class="clearfix"></div>

    <!-- end content dau roi-->
