
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>@ViewBag.Title</title>*@
    <link href="~/Assets/Css/components.min.css" rel="stylesheet" />
    <link href="/Assets/Css/Styleinan.css" rel="stylesheet" />
    <link href="~/Assets/Css/custom.min.css" rel="stylesheet" />
    <link href="~/Assets/Css/darkblue.min.css" rel="stylesheet" />
    <link href="~/Assets/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Css/layout.min.css" rel="stylesheet" />
    <link href="~/Assets/Css/login-2.min.css" rel="stylesheet" />
    <link href="~/Assets/Css/Styleinan.css" rel="stylesheet" />
    <link href="~/Assets/Css/plugins.min.css" rel="stylesheet" />
    <link href="~/Assets/Css/style.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>

